        <header>
            <h1><b>–</b>board</h1>
            <div class="bar">
                <span class="you" id="newpost"><span class="tooltip">new post</span>+</span>
                <span class="you">@Username</span>
                <a id="logout" class="headerbtn">logout</a>
            </div>
        </header>
        <main>
            {{#each pageContent as |post|}}
            <br>
            <div class="post-container">
                <div class="title-card">
                    <h2>{{post.title}}</h2>
                    <h3>by @<span>{{post.user.name}}</span></h3>
                </div>
                <div class="post-card">
                    <p>
                        {{post.body}}
                    </p>
                </div>
                <div class="post-dash">
                    <a class="btn">comments</a>
                    <a class="btn">edit</a>
                    <a class="btn">delete</a>
                </div>
                <div class="comment-wrapper">
                    {{#each post.comments as |comment|}}
                    <div class="comment-container">
                        <div class="comment-card">
                            <p>
                                {{comment.body}}
                            </p>
                        </div>
                        <div class="comment-by">
                            <p> – @<span>{{comment.user.name}}</span></p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <br>
            {{/each}}
            
        </main>
        <script src="/js/logout.js"></script>








            <br>
            <div class="post-container">
                <div class="title-card">
                    <h2>Blog Post Title</h2>
                    <h3>by @<span>Username</span></h3>
                </div>
                <div class="post-card">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam quisquam rem corporis quod porro accusantium a sequi. Commodi vero sit porro obcaecati ipsum ut autem animi dolore soluta. Ullam, omnis!
                    </p>
                </div>
                <div class="post-dash">
                    <a class="btn">comments</a>
                    <a class="btn">edit</a>
                    <a class="btn">delete</a>
                </div>
                <div class="comment-wrapper" style="display:none">
                    <div class="comment-container">
                        <div class="comment-card">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae tenetur neque odio reiciendis deleniti reprehenderit incidunt? Facilis!
                            </p>
                        </div>
                        <div class="comment-by">
                            <p> – @<span>Username</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <br>