<div class="post-container">
    <h2>{{header}}</h2>
    <form>
        <input type="text" id="edit-title" value="{{title}}" placeholder="Title...">
        <textarea id="edit-body" placeholder="Body...">{{body}}</textarea>
        <a class="btn" id="{{mode}}" data-id="{{postId}}">submit</a>
    </form>
</div>